@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: #464142;
  color: #e6dfe0;
}

body {
  -webkit-font-smoothing: antialiased;
}